.movieListWrapper {
  display: flex;
  flex-direction: columns;
  flex-flow: wrap;
  padding: 10px;
}

.movieWrapper {
  position: relative;
  display: grid;
  max-width: 200px;
  margin: 10px;
  border: 2px solid gray;
  text-align: center;
  // grid-template-areas:relative
  //   'imagem'
  //   'title rating'
  //   'genre'
  //   'price'
  //   'add';
  a {
    color: #000;
    &:hover {
      color: rgba(0, 0, 0, 0.733);
    }
  }

  .imageStyle {
    max-width: 100%;
    max-height: 100%;
  }

  .add {
    align-self: flex-end;
    width: 100%;
    bottom: 0;
    height: 40px;
    border: 1px solid gray;
    background: #6558f5;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
  }
}
